*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center; /*centralização horizontal */
    justify-content: center; /*centralização vertical */
    height: 100vh; /*100% da altura da parte visivel */
}

#container {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    position: relative; /*position no elemento pai pra servir de referencia para os filhos*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#container div {
    width: 100px;
    height: 100px;
    background-color: #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#container #bola-01 {
    background-color: #f00;
    position: absolute; /*position filho */
    top: 10px;
    left: 10px;
     animation-name: anima-bola-01; /*nome da animação */
     animation-duration: 3s; /*duração da execução da animação */
     animation-iteration-count: infinite; /*quantas vezes a animação irá repetir */
}

@keyframes anima-bola-01 {
    25% {
        top: 10px;
        left: 290px;
    }
    50% {
        top: 290px;
        left: 290px;
    }
    75% {
        top: 290px;
        left: 10px;
    }
}

#container #bola-02 {
    background-color: #00f;
    position: absolute;
    top: 10px;
    right: 10px;
    animation-name: anima-bola-02; /*nome da animação */
     animation-duration: 3s; /*duração da execução da animação */
     animation-iteration-count: infinite; /*quantas vezes a animação irá repetir */
}

@keyframes anima-bola-02 {
    25% {
        top: 290px;
        right: 10px;
    }
    50% {
        top: 290px;
        right: 290px;
    }
    75% {
        top: 10px;
        right: 290px;
    }
}

#container #bola-03 {
    background-color: #3f0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    animation-name: anima-bola-03; /*nome da animação */
     animation-duration: 3s; /*duração da execução da animação */
     animation-iteration-count: infinite; /*quantas vezes a animação irá repetir */
}

@keyframes anima-bola-03 {
    25% {
        bottom: 10px;
        right: 290px;
    }
    50% {
        bottom: 290px;
        right: 290px;
    }
    75% {
        bottom: 290px;
        right: 10px;
    }
}

#container #bola-04 {
    background-color: #fb0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    animation-name: anima-bola-04; /*nome da animação */
     animation-duration: 3s; /*duração da execução da animação */
     animation-iteration-count: infinite; /*quantas vezes a animação irá repetir */
}

@keyframes anima-bola-04 {
    25% {
        bottom: 290px;
        left: 10px;
    }
    50% {
        bottom: 290px;
        left: 290px;
    }
    75% {
        bottom: 10px;
        left: 290px;
    }
}

#btn {
    padding: 10px;
    width: 60px;
}

#cores {
    width: 100px;
    height: 150px;
}

#cores div {
    width: 50px;
    height: 50px;
}

#cores #cor-amarela {
    background-color: #fb0;
}

#cores #cor-vermelha {
    background-color: #f00;
}

#cores #cor-azul {
    background-color: #00f;
}

